.p1 {
    background-color: tomato;
}

.p2 {
    background-color: orange;
}

.p3 {
    background-color: dodgerblue;
}

.p4 {
    background-color: mediumseagreen;
}

.p5 {
    background-color: gray;
}

.p6 {
    background-color: slateblue;
}

.p7 {
    background-color: violet;
}

.p8 {
    background-color: lightgray;
}